<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css.css}" />
    <title>Title</title>
</head>
<body>

<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<br>
Users messages...
<div>
    <form th:action="@{/addMessage}" method="post">
        <input type="text" name="text" placeholder="Message">

        <button type="submit" >Ok</button>
    </form>
</div>

<div>
    <div class="divBorder" th:each="message : ${message}">
        <p th:utext="${message.getAuthorName()}"></p>
        <p th:utext="${message.text}"></p>
    </div>
</div>

</body>
</html>